<form method="post" action="?c=adminTags&t=deleteTag&id={{ tag.id }}" class="delete-form">
  <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');">
    <i class="fa fa-trash-o"></i>
  </button>
  <input type="hidden" name="delete_tag_token" id="delete_tag_token" value="{{ delete_tag_token }}">
</form>
