<section id="home" class="naked" style="z-index:1 !important;">
    <div class="fullscreenbanner-container revolution">
        <div class="fullscreenbanner" style="position: relative;">
            <ul>
                <li data-transition="fade"> <img src="../img/dummy.png" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
                    <h1 class="tp-caption caption large sfb" data-x="center" data-y="center" data-voffset="-25" data-speed="900" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut">Philippe Traon</h1>
                    <div class="tp-caption small tp-fade fadeout tp-resizeme" data-x="center" data-y="center" data-voffset="25" data-speed="100" data-start="1500" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.03" data-endelementdelay="0" data-endspeed="100" data-endeasing="Power1.easeOut" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        {{ description.subtitle }}
                    </div>
                    <div class="arrow smooth"><a href="#portfolio"><i class="icon-down-open-big"></i></a></div>
                </li>
            </ul>

            <div class="tp-bannertimer"></div>
        </div>
        <div style="position:absolute; top: 400px;right: 200px;">
            {% if session.admin != null %}
                <a href="" class="pull-right" data-toggle="modal" data-target="#subtitle" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Modifier le sous-titre">
                    <i class="fa fa-pencil fa-2x" aria-hidden="true" style="color: red;"></i>
                </a>
                <!-- Modal -->
                {% include 'front/home/_partials/header/modal.html.twig' %}
            {% endif %}
        </div>
    </div>
</section>
