
            <div id="subtitle" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content about-modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Changer le sous-titre</h4>
                  </div>
                  <div class="modal-body">
                    {% include('front/home/_partials/header/_form_update_subtitle.html.twig') %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>

              </div>
            </div>
