<form action="?c=login&t=forgetPassword">
    <fieldset>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <div class="form-row text-input-row email-field">
                    <label>Pseudo ou Email</label>
                    <input type="text" name="username" value="" placeholder="pseudo ou email" class="text-input defaultText required"/>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="button-row pull-right">
                    <input type="submit" value="Envoyer" name="submit" class="btn btn-submit bm0" />
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 lp5">
                <div class="button-row pull-left">
                    <input type="reset" value="Effacer" name="reset" class="btn btn-submit bm0" />
                </div>
            </div>
            <input type="hidden" name="forgot_token" id="forgot_token" value="{{ forgot_token }}" />
        </div>
    </fieldset>
</form>
