{% extends "./base.html.twig" %}

{% block main %}
    <div class="container inner">
        <div class="box" style="margin-top: 150px;">
            {% include('front/_forms/forgot.html.twig') %}
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}
