<form method="post" action="?c=adminUsers&t=deleteUser" class="delete-form">
    <input type="hidden" name="userId" value="{{ user.id }}">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');">
      <i class="fa fa-trash-o"></i>
    </button>
    <input type="hidden" name="delete_user_token" id="delete_user_token" value="{{ delete_user_token }}">
</form>
