
                            <form action="?c=admin&t=updateSkill" method="post">
                                <div>
                                    <label for="title">Titre</label><br />
                                    <input style="background: #eee; color: #111;" type="text" name="title" id="title" value="{{ skill.name }}">
                                </div>
                                <div>
                                    <label>Niveau</label><br />
                                    <input  style="background: #eee; color: #111;" type="text" name="level" value="{{ skill.level }}">
                                </div>
                                <div>
                                    <input type="hidden" name="id" value="{{ skill.id }}">
                                </div>
                                <div class="divide40"></div>
                                <div>
                                    <input class="btn btn-default" type="submit" style="width: 100px;display: block; margin: 0 auto;"/>
                                </div>
                                <input type="hidden" name="update_skill_token" id="update_skill_token" value="{{ update_skill_token }}" />
                            </form>
