<div id="myModalSkill1{{ skill.id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="margin-top:200px;background: #333;">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modification de la barre de progression</h4>
                          </div>
                          <div class="modal-body">
                            {% include('front/home/_partials/skills/_form_update_skills.html.twig') %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>

                      </div>
                    </div>
