{% extends "./base.html.twig" %}

{% block nav %}{% include('front/_partials/nav.html.twig') %}{% endblock %}

{% block circle %}

    <div id="preloader">
        <div id="status">
            <div class="loadcircle"></div>
        </div>
    </div>

{% endblock %}

{% block header %}{{ include('front/home/_partials/header/header.html.twig') }}{% endblock %}

{# Main content #}
{% block main %}

    <!-- About Portfolio -->
    {% include 'front/home/_partials/portfolio/portfolio.html.twig' %}

    <!-- About Section -->
    {% include 'front/home/_partials/about/about.html.twig' %}

    <!-- About Skills -->
    {% include 'front/home/_partials/skills/skills.html.twig' %}

    <!-- Contact Section -->
    {% include 'front/home/_partials/contact/contact.html.twig' %}

{% endblock %}

{% block footer %}{{ include('front/_partials/footer.html.twig') }}{% endblock %}

{% block js %}
  {{ parent() }}

  <script>
    $(window).scroll(function() {
        if ($(window).scrollTop() > 2450) { // scroll down abit and get the action
            $(".progress-bar").each(function() {
                each_bar_width = $(this).attr('aria-valuenow');
                $(this).width(each_bar_width + '%');
            });
        }
    });
  </script>
{% endblock %}
