<form method="post" action="?c=adminProjects&t=deleteProject" class="delete-form">
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');"><i class="fa fa-trash-o"></i></button>
                    <input type="hidden" name="delete_project_token" id="delete_project_token" value="{{ delete_project_token }}" />
                  </form>
