<form class="searchform" method="get" action="?c=blogSearch">
  <input type="hidden" name="c" value="blogSearch">
  <input type="text" id="search" name="q" placeholder="Rechercher" onfocus="this.value=''" onblur="this.placeholder='Rechercher'" />
</form>
