{% extends "./base.html.twig" %}

{% block nav %}{% include('front/_partials/nav.html.twig') %}{% endblock %}

{# Main content #}
{% block main %}
<div>Page inexistante</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}

{% endblock %}
