<div class="sidebox box widget" style="background:rgba(214, 69, 65, 1);">
    <h3 class="widget-title section-title">Admin</h3>
    <ul style="list-style-type: none;">
        <li><a href="index.php?c=adminDashboard" target="_blank">Gestion des articles</a></li>
        <li><a href="index.php?c=adminDashboard&t=comments" target="_blank">Gestion des commentaires</a></li>
        <li><a href="index.php?c=adminDashboard&t=categories" target="_blank">Gestion des catégories</a></li>
        <li><a href="index.php?c=adminDashboard&t=tags" target="_blank">Gestion des tags</a></li>
        <li><a href="index.php?c=adminDashboard&t=users" target="_blank">Gestion des membres</a></li>
    </ul>
</div>
