<form method="post" action="?c=adminComment&t=deleteComment&id={{ comment.id }}" class="delete-form">
  <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');">
    <i class="fa fa-trash-o"></i>
  </button>
  <input type="hidden" name="delete_comment_token" id="delete_comment_token" value="{{ delete_comment_token }}" />
</form>
