<section style="margin-bottom: 50px;">
  <div class="box">
    {{ message.display }}
    <p></p>
    <div class="divide30"></div>
    <ul class="nav nav-tabs menuadmin">
      <li class="nav-item">
        <a class="nav-link active" href="index.php?c=adminDashboard&page=1">Gestion articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=comments&page=1">Gestion commentaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=users&page=1">Gestion membres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=categories&page=1">Gestion catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=tags&page=1">Gestion tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=projects&page=1">Gestion projets</a>
      </li>
    </ul>
  </div>
</section>
