<div class="sidebox box widget">
    <h3 class="widget-title section-title">Affichage</h3>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
    <ul class="layout-switcher">
        <li><a href="?c=blog&v=view1&page=1" class="btn btn-small hint--top {% if 'view1' in url %}active
{% endif %}" data-hint="Liste"><i class="icon-menu-1"></i></a></li>
        <li><a href="?c=blog&v=view2&page=1" class="btn btn-small hint--top {% if 'view2' in url %}active
{% endif %}" data-hint="Grille"><i class="icon-th-large"></i></a></li>
        <li><a href="?c=blog&v=view3&page=1" class="btn btn-small hint--top {% if 'view3' in url %}active
{% endif %}" data-hint="Classique"><i class="icon-stop-1"></i></a></li>
    </ul>
</div>
